body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
@media all and (max-width: 500px) {
  body {
    background-image: url("bg-portrait.svg");
    margin: 1rem;
  }
}

.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info,
.form,
.footer,
.countdown {
  font-family: "Poppins", serif;
  background: #FFFFFF;
  border: 0.5rem solid #000000;
  width: 100%;
  max-width: 55rem;
  height: auto;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 2rem;
}
@media all and (max-width: 500px) {
  .info,
.form,
.footer,
.countdown {
    padding: 1rem;
    max-width: 18rem;
  }
}

.info .title {
  font-size: 8rem;
}
@media all and (max-width: 500px) {
  .info .title {
    font-size: 5rem;
  }
}

.info .date {
  font-size: 4.5rem;
}
@media all and (max-width: 500px) {
  .info .date {
    font-size: 2rem;
  }
}

.info .tagline {
  margin-top: 2.5rem;
  font-size: 2.5rem;
}
@media all and (max-width: 500px) {
  .info .tagline {
    font-size: 1.5rem;
  }
}

.info .location {
  margin-top: 1rem;
  font-size: 2rem;
}
@media all and (max-width: 500px) {
  .info .location {
    font-size: 1.25rem;
  }
}

.form {
  margin-top: 1rem;
}
.form .title {
  font-size: 4rem;
  font-size: 1.875rem;
  margin-bottom: 2rem;
}
@media all and (max-width: 500px) {
  .form .title {
    font-size: 1.25rem;
  }
}
.form label {
  font-size: 1.25rem;
}
.form input[type=text] {
  font-family: "Futura", sans-serif;
  font-size: 1.5rem;
  padding: 0.7rem 0.8rem;
  border: 0.4rem solid #000;
  min-width: 25rem;
}
@media all and (max-width: 500px) {
  .form input[type=text] {
    max-width: 15.5rem;
    min-width: 0;
  }
}
.form .email-wrap {
  margin-top: 1.875rem;
}
.form form {
  width: 100%;
}
.form .submit-wrap {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 500px) {
  .form .submit-wrap {
    margin-bottom: 1rem;
  }
}

#program-info .title {
  font-size: 3rem;
}
@media all and (max-width: 500px) {
  #program-info .title {
    font-size: 1.5rem;
  }
}
#program-info .program {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#program-info .program__entry {
  -webkit-appearance: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 2px solid #000;
  transition: all 0.4s ease;
}
@media all and (max-width: 500px) {
  #program-info .program__entry {
    font-size: 1.25rem;
  }
}
#program-info .program__entry:nth-child(even) {
  background-color: #006f77;
  color: white;
  border: 4px solid #000;
}
@media all and (max-width: 500px) {
  #program-info .program__entry:nth-child(even) {
    font-size: 1.25rem;
    width: auto;
    margin-top: 1rem;
  }
}
#program-info .program__entry:nth-child(even):hover {
  background-color: white;
  color: #006f77;
}
#program-info .program__entry:nth-child(odd) {
  background-color: white;
  color: #006f77;
  border: 4px solid #000;
}
@media all and (max-width: 500px) {
  #program-info .program__entry:nth-child(odd) {
    font-size: 1.25rem;
    width: auto;
    margin-top: 1rem;
  }
}
#program-info .program__entry:nth-child(odd):hover {
  background-color: #006f77;
  color: white;
}
#program-info .program__entry:hover {
  cursor: pointer;
}

.button {
  width: 35%;
  -webkit-appearance: none;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.gnist-orange {
  border: 4px solid #000;
  transition: all 0.4s ease;
  background-color: #fff;
  -webkit-box-shadow: 12px 12px 0px 0px #fcaf38;
  -moz-box-shadow: 12px 12px 0px 0px #fcaf38;
  box-shadow: 12px 12px 0px 0px #fcaf38;
}
@media all and (max-width: 500px) {
  .gnist-orange {
    font-size: 1.25rem;
    width: auto;
    -webkit-box-shadow: 8px 8px 0px 0px #fcaf38;
    -moz-box-shadow: 8px 8px 0px 0px #fcaf38;
    box-shadow: 8px 8px 0px 0px #fcaf38;
    margin-top: 1rem;
  }
}
.gnist-orange:hover {
  background-color: #fcaf38;
  color: #fff;
  cursor: pointer;
  transform: translate(10px, 5px);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.gnist-orange:hover {
  background-color: #fcaf38;
  color: white;
}

.gnist-blue {
  border: 4px solid #000;
  transition: all 0.4s ease;
  background-color: #fff;
  -webkit-box-shadow: 12px 12px 0px 0px #3597f9;
  -moz-box-shadow: 12px 12px 0px 0px #3597f9;
  box-shadow: 12px 12px 0px 0px #3597f9;
}
@media all and (max-width: 500px) {
  .gnist-blue {
    font-size: 1.25rem;
    width: auto;
    -webkit-box-shadow: 8px 8px 0px 0px #3597f9;
    -moz-box-shadow: 8px 8px 0px 0px #3597f9;
    box-shadow: 8px 8px 0px 0px #3597f9;
    margin-top: 1rem;
  }
}
.gnist-blue:hover {
  background-color: #3597f9;
  color: #fff;
  cursor: pointer;
  transform: translate(10px, 5px);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.gnist-blue:hover {
  background-color: #3597f9;
  color: white;
}

.gnist-green {
  border: 4px solid #000;
  transition: all 0.4s ease;
  background-color: #fff;
  -webkit-box-shadow: 12px 12px 0px 0px #006f77;
  -moz-box-shadow: 12px 12px 0px 0px #006f77;
  box-shadow: 12px 12px 0px 0px #006f77;
}
@media all and (max-width: 500px) {
  .gnist-green {
    font-size: 1.25rem;
    width: auto;
    -webkit-box-shadow: 8px 8px 0px 0px #006f77;
    -moz-box-shadow: 8px 8px 0px 0px #006f77;
    box-shadow: 8px 8px 0px 0px #006f77;
    margin-top: 1rem;
  }
}
.gnist-green:hover {
  background-color: #006f77;
  color: #fff;
  cursor: pointer;
  transform: translate(10px, 5px);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.gnist-green:hover {
  background-color: #006f77;
  color: white;
}

.gnist-pink {
  border: 4px solid #000;
  transition: all 0.4s ease;
  background-color: #fff;
  -webkit-box-shadow: 12px 12px 0px 0px #fff3fd;
  -moz-box-shadow: 12px 12px 0px 0px #fff3fd;
  box-shadow: 12px 12px 0px 0px #fff3fd;
}
@media all and (max-width: 500px) {
  .gnist-pink {
    font-size: 1.25rem;
    width: auto;
    -webkit-box-shadow: 8px 8px 0px 0px #fff3fd;
    -moz-box-shadow: 8px 8px 0px 0px #fff3fd;
    box-shadow: 8px 8px 0px 0px #fff3fd;
    margin-top: 1rem;
  }
}
.gnist-pink:hover {
  background-color: #fff3fd;
  color: #fff;
  cursor: pointer;
  transform: translate(10px, 5px);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.gnist-pink:hover {
  background-color: #fff3fd;
  color: white;
}

#location-info .title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
@media all and (max-width: 500px) {
  #location-info .title {
    font-size: 1.5rem;
  }
}
#location-info .map img {
  width: 100%;
}
#location-info .location {
  margin-top: 1.5rem;
  font-size: 1.75rem;
}
@media all and (max-width: 500px) {
  #location-info .location {
    font-size: 1rem;
  }
}

.footer {
  align-items: center;
}
.footer a {
  width: 20%;
}
.footer a img {
  width: 100%;
}

.buttons {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media all and (max-width: 500px) {
  .buttons {
    flex-direction: column;
    width: auto;
    margin: 2rem auto 1rem;
  }
}

/*
.button {
  width: 35%;
  -webkit-appearance: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 4px solid #000;
  transition: all 0.4s ease;
  background-color: #fff;
  -webkit-box-shadow: 14px 14px 0px 0px #3597F9;
  -moz-box-shadow: 14px 14px 0px 0px #3597F9;
  box-shadow: 14px 14px 0px 0px #3597F9;

  @media all and (max-width: 500px) {
    font-size: 1.25rem;
    width: auto;
    -webkit-box-shadow: 8px 8px 0px 0px #3597F9;
    -moz-box-shadow: 8px 8px 0px 0px #3597F9;
    box-shadow: 8px 8px 0px 0px #3597F9;
    margin-top: 1rem;
  }

  &:hover {
    background-color: #3597F9;
    color: #fff;
    cursor: pointer;
    transform: translate(20px, 10px);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &.previous {
    @media all and (max-width: 500px) {
      margin-bottom: 2rem;
    }
  }
}*/
a {
  text-decoration: none;
  color: #000;
}
a:visited {
  color: #000;
}

.countdown {
  margin-top: 1rem;
}
.countdown .next-talk {
  font-size: 3rem;
}
@media all and (max-width: 500px) {
  .countdown .next-talk {
    font-size: 1.5rem;
  }
}
.countdown .clock {
  font-size: 7rem;
}
@media all and (max-width: 500px) {
  .countdown .clock {
    font-size: 3.5rem;
  }
}
.countdown .title {
  font-size: 6rem;
}
@media all and (max-width: 500px) {
  .countdown .title {
    font-size: 5rem;
  }
}
.countdown .start-time {
  font-size: 4rem;
}

/*# sourceMappingURL=gnist.css.map */
